<div class="profile-page">
    <div class="card">
        <a target="_blank" href="{{profile.image}}"><img [src]="profile.image || 'https://www.ibei.org/images/4611/person_box.png'" style="width:10%"></a>
        <h1>{{profile.username}}</h1>
        <p class="email">{{profile.email}}</p>
        <div class="bio">
            <hr>
            <strong>Biography:</strong>
            <p>{{profile.bio}}</p>
            <div class="main" >
                <div style="background-color: #1b1b8d; padding: 2%;" *ngIf="profile.username === currentUser.username" routerLink="/shop/category/favorites">
                    <strong>Favourites:</strong><p></p>
                    {{favorites?.length}}&nbsp;
                    <span><fa-icon [icon]="['fas', 'heart']" size="1x"></fa-icon></span>
                </div>&nbsp;&nbsp;
                <div style="background-color: #1b1b8d; padding: 2%;">
                    <strong>FOLLOWERS: <p>10</p></strong>
                </div>&nbsp;&nbsp;
                <div style="background-color: #1b1b8d; padding: 2%;">
                    <strong>FOLLOWING: <p>25</p></strong>
                </div>
            </div>
        </div>
        <p></p>
        <!-- <app-follow-button
            [hidden]="isUser"
            [Profile]="Profile"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button> -->
        <button *ngIf="profile.username !== currentUser.username">
            Follow Us
        </button><hr>
        <button *ngIf="profile.username === currentUser.username" [routerLink]="['/settings']" [routerLinkActive]="['active']">Settings</button>
    </div>
    
</div>
  