<div class="list row">
  <div class="col-md-6">
    <h1>HOME</h1>
    <!-- <table border="1" class="list-group">
      <tr class="list-group-item" 
      *ngFor="let product of products; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveProduct(product, i)">
        <th>{{ product.description }}</th><td class="edit" routerLink="/products/{{ currentProduct.id }}"><img class="icon_edit" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"></td>
      </tr>
    </table> -->
  </div>
</div>
