<div class="details">
  <strong style="font-size: 300%;">{{products?.name}}</strong><p></p>
  <p-carousel class="carrousel" [value]="img_products!" [numVisible]="1" [numScroll]="1">
      <ng-template let-part pTemplate="item" >
          <div>
              <img class="car" src="assets/img/{{part}}"/><p></p>
          </div>
      </ng-template>
  </p-carousel>
  <!-- <img style="width: 45%;" src="assets/img/{{products?.img}}"/><p></p> -->
  <span style="font-size: 120%;">{{products?.price}}€</span><p></p>
  <span style="font-size: 120%;">{{products?.description}}</span><p></p>
  <app-favorite [products]="products" [heart_color]="heart_color" ></app-favorite>
</div>

<div class="comments">
  <strong style="font-size: 300%;">Comments</strong>
  <p></p>

  <div class="comment_author" *ngFor="let comment of comments">
    <p></p>
    <strong>{{comment.author.username}}</strong><p></p>
    <img [src]="comment.author.image" routerLink="/profile/{{comment.author.username}}" style="width: 20%;"/>
    <p></p>
    {{comment.body}}
    <p></p>
    <button (click)="delete_comment(comment.id)" *ngIf="user.username === comment.author.username">
      <fa-icon [icon]="['fas', 'trash']" size="1x"></fa-icon>
    </button>
  </div>
  <br>
  <div>
    <form (ngSubmit)="addComment()" >
      <fieldset [disabled]="isSubmitting">
        <textarea [formControl]="commentControl" placeholder="Write a comment..." rows="3" cols="50"></textarea><p></p>
        <span style="color: red;" *ngIf="error == true">Comment mustn't blank</span>
        <div><button type="submit">Post comment</button><button type="button">Cancel</button></div>
      </fieldset>
      
    </form>
    <div>
      <a [routerLink]="['/auth/login']">Sign in</a> or <a [routerLink]="['/auth/register']">sign up</a> to add
      comments on this product.
    </div>  
  </div>
</div>