<div class="details">
  <strong style="font-size: 300%;">{{products?.name}}</strong><p></p>
  <p-carousel class="carrousel" [value]="img_products!" [numVisible]="1" [numScroll]="1">
      <ng-template let-part pTemplate="item" >
          <div>
              <img style="width: 45%;" src="assets/img/{{part}}"/><p></p>
          </div>
      </ng-template>
  </p-carousel>
  <!-- <img style="width: 45%;" src="assets/img/{{products?.img}}"/><p></p> -->
  <span style="font-size: 120%;">{{products?.price}}€</span>
</div>

<div class="comments">
  <strong style="font-size: 300%;">Comments</strong>
  <p></p>

  <div class="comment_author" *ngFor="let comment of comments">
    <span>AUTHOR</span>
    <p></p>
    {{comment}}
  </div>


</div>
<br>
<div>
  <div>
    <div>
      <!-- <img  [routerLink]="['/profile', currentUser.username]" [src]="'../../assets/images/'+currentUser.image" onerror="this.src='../../assets/images/bbyoda.png'" alt="Image Description"> -->
      <div>
        <form (ngSubmit)="addComment()">
          <fieldset>
            <textarea [formControl]="commentControl" placeholder="Write a comment..." rows="3" cols="50"></textarea>
            <div><button type="submit">Post comment</button><button type="button">Cancel</button></div>
          </fieldset>
        </form>
      </div>


      <div>
        <div>
          <a [routerLink]="['/auth/login']">Sign in</a> or <a [routerLink]="['/auth/register']">sign up</a> to add
          comments on this
          article.
        </div>
      </div>
    </div>
  </div>
</div>