.category_box {
    width: 100%;
    display: flex;
    justify-content: center;
    div {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        :hover {
            color: blue;
         }
        div.categ{
            width: 25%;
            padding: 2.5%;
            margin: 1.5%;
            border-radius: 15%;
            box-shadow:
            inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
             h4 {
                width: 50%;
                span {
                    font-size: 35px;
                }
             }
             .icon_category {
                width: 50%;
                float: right;
             }
        }
    }
}
h1 {
    padding: 1.5%;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(90deg, blue, white);
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    margin-bottom: 2.75%;
}

button {
    color: white;
    background-color: blue;
    border-radius: 50%;
    border: none;
    padding: 1.75%;
    font-size: 20px;
    float: center;
    position: static;
    z-index: 101;
}

.none {
    display: none;
}
