///@author RAFA FERRI & SERGI BIOSCA
///@group MIXIN
@mixin button() {
    color: white;
    background-color: blue;
    border-radius: 50%;
    border: none;
    padding: 1.75%;
    font-size: 20px;
    float: center;
    position: static;
    z-index: 101;
}
///@group VARIABLES
$width_common: 100;
///@group VARIABLES
$font_size: 100;
///@group VARIABLES
$color: blue;

@media only screen and (max-width: 650px) {
    ///@group MOBILE_RESPONSIVE
    div.categ {
        h4 {
            width: $width_common - 10%;

            span {
                font-size: $font_size - 65px;
            }
        }

        .icon_category {
            width: $width_common - 50%;
            float: right;
            font-size: $font_size + 150%;
        }
    }

}

@media only screen and (min-width: 650px) {
    ///@group TABLET_AND_SCREEN_NORMAL
    div.categ {
        h4 {
            width: $width_common - 60%;

            span {
                font-size: $font_size - 65px;
            }
        }

        .icon_category {
            width: $width_common - 50%;
            float: right;
            font-size: $font_size + 250%;
        }
    }
}
///@group DEFAULT_RESPONSIVE
.category_box {
    width: $width_common + 0%;
    display: flex;
    justify-content: center;

    div {
        width: $width_common + 0%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        :hover {
            color: $color;
        }

        div.categ {
            width: 25%;
            padding: 2.5%;
            margin: 1.5%;
            border-radius: 15%;
            box-shadow:
                inset 0 -3em 3em rgba(0, 0, 0, 0.1),
                0 0 0 2px rgb(255, 255, 255),
                0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        }
    }
}

h1 {
    padding: 1.5%;
    width: $width_common + 0%;
    text-align: center;
    background-image: linear-gradient(90deg, blue, white);
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    margin-bottom: 2.75%;
}

button {
    @include button();
}

.none {
    display: none;
}

