$letter-size: 20px;
@mixin default {
    padding: 1%;
    font-size: $letter-size;
    color: white;
    background-color: transparent;
    &:hover {
        box-shadow: 0 0 15px rgb(247, 247, 247);
    }
}
.filters {
    width: 100%;
    display: inline-block;
    padding: 2.5%;
    border-bottom: 2px solid white;
    * {
        margin: 0.75%
    }
    select {
      @include default;
        option {
            background-color: #1b1b8d;
        }
    }
    input {
        @include default;
        border: none;
        width: 20%;
        border-bottom: 2px solid white;
    }
    button {
        float: right;
        border: none;
        background-color: transparent;
        color: white;
        :hover {
            color: red;
        }
    }
}
@media only screen and (max-width: 425px) {
    .filters {
        display: flex;
        select {
            width: 45%;
            &#cate {
             order: -2;   
            }
            &#state {
                order: -1;
            }    
        }
    } 
}
   
 