<div class="filters" *ngIf="view_filters === true">
    <!-- <form [formGroup]="filtersForm" (ngSubmit)="onchange($event)"> -->
        <select (change)="onchange($event)" id="cate">
            <option *ngFor="let cate of listcategory" [value]="cate.reference" [selected]="cate.reference === home_category">{{cate.name_category}}</option>
        </select>
        <input type="number" id="priceMin" placeholder="priceMin" value="$event" [(ngModel)]='pricemin_highlight' (change)="onchange($event)">
        <input type="number" id="priceMax" placeholder="priceMax" value="$event" [(ngModel)]='pricemax_highlight' (change)="onchange($event)">
        <select (change)="onchange($event)" id="state" [(ngModel)]='state_highlight'>
            <option value="0" selected>State Of Product</option>
            <option value="new">Nuevo</option>
            <option value="as_new">Reacondicionado</option>
            <option value="good_state">Buen Estado</option>
        </select>
        <!-- <button type="submit"><fa-icon [icon]="['fas', 'magnifying-glass']" size="2x"></fa-icon></button> -->
        <button (click)="delete()"><fa-icon [icon]="['fas', 'trash']" size="2x"></fa-icon></button>
    <!-- </form> -->
</div>
<div *ngIf="view_filters === false">
    <h2 style="text-align: center; color: rgb(242, 242, 253);" >YOUR FAVOURITES</h2>
</div>