div {
    
    width: 100px;
    height: 500px;
    position: absolute;
    left: 3%;
    top: 24.5%;
}

select {
    position: absolute;
    top: 10%;
    left: 10%;
}

input {
    position: absolute;
    top: 25%;
    left: 10%;
}