<div class="all">
    <app-filters [listcategory]="listcategory"></app-filters>
    <div class="content_products" >
        <div class="product" *ngFor="let prod of product | paginate: { itemsPerPage: 9, currentPage: p}" [routerLink]="['/details', prod.slug]">
            <span class="price">{{prod.price}}€</span>
            <img src="assets/img/{{prod.img}}"/>
            <span class="name_product" id="{{prod}}">{{prod.name}}</span><p></p>
            <div class="use_buttons">
                <button><fa-icon [icon]="['fas', 'cart-shopping']" size="2x"></fa-icon></button>
                <button><fa-icon [icon]="['fas', 'heart']" size="2x"></fa-icon></button>
            </div>
        </div>
    </div>
    <div *ngIf="product.length === 0">
        <h1 style="text-align: center;">NO HAY PRODUCTOS</h1>
    </div>
    <div id="pagination" class="pagination">
        <div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div><br>