div.all {
    margin-top: 2.5%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: rgb(27, 27, 141);
    width: 100%;
    height: 100%;
    .content_products{
        width: 70%;
        display: flex;
        flex-flow: row wrap;
        div.product {
            background-color: white;            
            width: 25%;
            margin: 3.5%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            padding: 1.5%;
            border-radius: 15px;
            .price {
                font-size: 150%;
                font-weight: 900;
                margin: 1.5%;
            }
            img {
                margin: 5%;
                width: 100%;
            }
            .name_product {
                font-size: 150%;
                font-weight: 900;
                align-self: flex-start;
            }
            div.use_buttons {
                width: 80%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                button {
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        width: 70%;
    }
    button:hover {
        color: blue;
    }
}
@media only screen and (max-width: 425px) {
    div.all {
        .content_products{
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            div.product {
                width: 80%;
                div.use_buttons {
                    width: 80%;
                    text-align: left;
                }
            }
        }
        .pagination {
            width: 85%;
        }
    }
   }
   
   @media only screen and (min-width: 820px) {
    div.all {
        .content_products{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            div.product {
                width: 40%;
                div.use_buttons {
                    width: 80%;
                    text-align: left;
                }
            }
        }
        .pagination {
            width: 85%;
        }
    }
   }