
.div1 div {
    height: 50px;
    background-color: rgb(172, 194, 194);
    margin: 5%;
    width: 185px;
    height: 255px;
   
}

.produ {
    border: 1px solid black;
    width: 185px;
    float: left;
    position: relative;
    left: 12%;
    text-align: center;
}

img {
    object-fit: cover;
    object-position: center;
    width: 175px;
    height: 180px;
}

#pagination {
    position: absolute;
    top: 110%;
    left: 40%;
  }
