
footer {
    background-color: #1b1b8d;
    width: 90%;
    height: 100px;
    position: static;
    bottom: 0%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid white;

}
