@media only screen and (max-width: 650px) {
    fa-icon {
        font-size: 175%
    }
}

@media only screen and (min-width: 650px) {
    fa-icon {
        font-size: 300%
    }
}

.p-carousel-content {
    margin-top: 2.5%;
    width: 100% !important;
    height: 20%;
    align-items: center;
    justify-content: center;

    .p-carousel-container {
        margin-bottom: 2.5%;

        .p-carousel-item {
            text-align: center;
            padding: 2.5%;
        }

        
    }


}