$default-color:#1b1b8d;

%button {
  border: none;
  outline: 0;
  color: white;
  padding: 1.5%;
  background-color: $default-color;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: 2px solid white;
  font-size: 18px;
}

.settings-page {
  width: 100%;
  display: flex;
  justify-content: center;
  .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 50%;
      margin-top: 5%;
    }
  form {
    fieldset {
      border: none;
      input {
        padding: 5px;
        font-size: 17px;
        border-width: 1px;
        border-style: groove;
        border-radius: 7px;
        :focus {
          outline:none;
        }
      }
      .avatar_image {
        margin: 1.75%;
        float: left;
        width: min-content;
        text-align: center;
        a {
          text-decoration: none;
          img {
            width: 90%;
          }
        }
      }
      .controls {
        background-color: $default-color;
        width: 60%;
        float: right;
        div {
          margin: 1.75%;
        }
      }
    }
    button {
     @extend %button
    }
  }
  button {
    @extend %button;
    background-color: red;
  }
}
@media only screen and (max-width: 425px) {
  .settings-page {
    width: 100%;
    display: block;
    text-align: center;
    .card {
      width: 100%;
    }
    form {
      fieldset {
        textarea {
          width: 300px;
        }
        .avatar_image {
          float: none;
          display: inline-block;
          justify-content: center;
          a {
            img {
              width: 30%;
            }
          }
        }
        .controls {
          width: 100%;
          float: none;
        }
      }
    }
  }
 }
 
 @media only screen and (min-width: 820px) {
  .settings-page {
    width: 100%;
    display: block;
    .card {
      width: 100%;
    }
    form {
      fieldset {
        textarea {
          width: 90%;
        }
        .avatar_image {
          float: left;
          
          a {
            img {
              width: 90%;
            }
          }
        }
        .controls {
          width: 50%;
          float: right;
        }
      }
    }
  }
 }