<div id="form-auth">
    <div id="login-form">
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
            <input formControlName="username" type="text" placeholder="Username"/><p></p>
            <input formControlName="email" type="text" placeholder="Email@email.com" *ngIf="authType === 'register'"/><p></p>
            <input formControlName="password" type="password" placeholder="password"/><p></p>
            <input formControlName="password2" type="password" placeholder="Reapeat password" *ngIf="authType === 'register'"/><p></p>
            <a routerLink="/auth/register" *ngIf="authType === 'login'">Need an account</a><p></p>
            <a routerLink="/auth/login" *ngIf="authType === 'register'">Have an account</a><p></p>
            <button type="submit">{{title}}</button>
        </form>
    </div>
</div>