header {
	height: 25%;
	display: flex;
	flex-flow: row wrap;
	border-bottom: 4px solid blue;
	a {
		width: 20%;
		img {
			width: 92.5%;
		}
	}

	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60%;
		height: 100%;

		input {
			font-size: 150%;
			height: 45%;
			width: 50%;
			border: none;
			border-bottom: 3px solid blue;
		}

		button {
			height: 45%;
			width: 10%;
			border: transparent;
			background-color: transparent;
			&:hover {
				color: blue;
			}
		}
	}

	.header_buttons {
		width: 20%;
		height: 100%;
		float: right;
		button {
			padding: 1.5%;
			width: 33.3%;
			height: 100%;
			border: transparent;
			background-color: transparent;
			&:hover {
				color: blue;
			}
		}
	}

}